.tokens-table-container {
  .search-bar-continer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 8px;
    align-items: center;

    .date-picker {
      width: 250px;
    }

    .create-btn {
      background-color: #dd2d20;
      &:hover {
        background-color: #3a2a97;
      }
    }

    .excel-icon {
      cursor: pointer;
    }
  }

  .ant-table-body {
    overflow: auto !important;

    //.ant-table-tbody {
    //  min-height: 500px;
    //}

    .ant-table-cell {
      height: 50px;
    }

    .action-container {
      display: flex;
      align-items: center;
      gap: 8px;

      .view-detail {
        cursor: pointer;
      }
    }

    .summery-row {
      font-weight: bold;
      text-align: center;
    }

  }
  .payment-done-btn, .payment-done-btn:hover {
    background-color: green !important;
    color: white !important;
    border: 0;
  }

  .ant-pagination {
    display: none;
  }
}

.print-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .ant-btn {
    background-color: #3b2b99 !important;
  }
}

.print-reference {
  max-width: 472px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .trust-name {
      font-size: 24px;
      font-weight: bold;
      font-family:  var(--font-baloo), sans-serif;
      color: #dc2d1f;
    }

    .success-message {
      font-size: 24px;
      font-weight: bold;
      color: green;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
  
  .token-detail {
    font-family:  var(--font-baloo), sans-serif;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #ddfecc;
    border: 1px solid #23c55c;
    border-radius: 5px;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;

    .token-detail-header {
      display: flex;
      justify-content: space-between;
      align-content: center;
      font-weight: bold;
    }
    
    .footer-text {
      text-align: center;
      font-weight: bold;
    }
  }

  .token-info-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:  var(--font-baloo), sans-serif;
  }
}

.create-token-modal {
  .ant-form-vertical {
    padding: 0 8px ;

    .ant-form-item {
      margin-bottom: 16px;
    }
  }

  .div-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;

    .input {
      width: 100%;

      .date-picker {
        width: 100%;
      }
    }
  }
}
